.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #007bff;
  box-shadow: 0 0 0 1px #007bff;
}
.active-cyan-3 input[type=text] {
  border: 1px solid #007bff;
  box-shadow: 0 0 0 1px #007bff;
}

body > nav > div{
  width: 50%;
}

.mb-4, .my-4 {
  margin-bottom: 0rem!important;
}

body > div.btn-group > a{
  width: 100%;
}

body > div.btn-group > a > button{
  width: 100%;
}

/* menu des catégories */
body > div.btn-group{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background: #6c757d;
}


body > div.container-fluid.mt-5{
  width: 40%;
  margin-bottom: 3rem;
}

/* carte */
.carte {
  width: 85%;
  margin: 0 auto;
}
#text-box-1945337407 {
  width: 100%;
}
#text-box-1945337407 .text {
  font-size: 0%;
}

body > nav > form{
  width: 50%;
}

#mapster_wrap_0{
  margin-left: 123px;
}

#text-box-1746203881 > div.form-group.col-md-5{
  margin:auto !important;
}

body > div.container-fluid.mt-5 > ul > li > a:nth-child(3) > svg, body > div.container-fluid.mt-5 > ul > li > a:nth-child(2) > svg{
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 22px;
}

.modal > div > div > div > form{
  width: 100% !important;
  padding: 12px !important;
}

body > div.container-fluid.mt-5 > div.row{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 12px;
  padding-bottom: 22px;
  padding-top: 12px;
}

.alert-danger {
  padding: 0 !important;
}

#alert_annonce{
padding: .75rem 1.25rem !important;
}

#exampleFormControlFile1{
  overflow: hidden;
}

.btn_edit, .btn_delete {
  border: 0;
  background: white;
}


.btn_delete {
padding-bottom: 26px;
}

#text-box-1746203881 > div.form-group.col-md-9{
  margin: auto;
}